#thumb{
  display: inline-block;
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;

}
.imgprofile-cover {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}